@model IEnumerable<ClubsAndSocieties.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center pageHeading">Posts</h2>

<div class="form-actions no-color">
    <p>
        <a asp-action="Create" id="addClass" class="btn btn-info btn-md">
            <span class="glyphicon glyphicon-plus"></span> Add
        </a>
    </p>
</div>
<div style="overflow-x:auto;">
    <table class="responstable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostMessage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssociatedEvent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssociatedStudent)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostMessage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssociatedEvent.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssociatedStudent.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-md edit"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-md details"><span class="glyphicon glyphicon-info-sign"></span> Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info btn-md delete"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
